name: CI
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:

    test:

        name: 'PHPUnit with PHP ${{ matrix.php-version }}'
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: '8.1'
                    - php-version: '8.2'
                    - php-version: '8.3'
                    - php-version: '8.4'
                    - php-version: '8.5'
        steps:
            -
                name: Checkout
                uses: actions/checkout@v6

            -
                name: 'Set up PHP'
                uses: 'shivammathur/setup-php@v2'
                with:
                    php-version: '${{ matrix.php-version }}'
                    coverage: none
                env:
                    update: true

            -
                name: 'Install dependencies'
                env:
                    COMPOSER_OPTIONS: '${{ matrix.composer-options }}'
                    SYMFONY_REQUIRE: '${{ matrix.symfony-version }}'
                run: |
                    composer update --no-progress --no-interaction --optimize-autoloader $COMPOSER_OPTIONS

            -
                name: Run Tests
                run: make phpunit
